/* Body styling */
body {
    background-image: url('https://mona.solutions/template/images/galweb-banner.jpg');
    color: #7F8C9A;
}

/* Main container styling */
.container {
    background-color: rgb(234, 234, 234);
    width: 350px;
    margin: 250px 250px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

/* Input file container styling */
.input-file-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

/* Output file container styling */
.output-file-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

/* Styling for file input trigger button when JavaScript is enabled */
.js .input-file-trigger {
    flex-grow: 1;
    display: block;
    padding: 14px 20px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border-radius: 4px;
}

/* Styling for file input element when JavaScript is enabled */
.js .input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    opacity: 0;
    padding: 8px 0;
    cursor: pointer;
}

/* Styling for file input trigger button on hover and focus when JavaScript is enabled */
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
}

/* Styling for file return paragraph */
.file-return {
    margin: 0;
}

/* Styling for file return paragraph when not empty */
.file-return:not(:empty) {
    margin: 1em 0;
}

/* Styling for file return paragraph when JavaScript is enabled */
.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}

/* Prefix content for file return paragraph when not empty and JavaScript is enabled */
.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}

/* Styling for headings (h1, h2) */
h1, h2 {
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    color: #aaa;
}

/* Additional styling for heading (h2) */
h2 {
    flex: 0;
    margin-bottom: 20px;
    margin: 5px 0 2em;
    color: #1ABC9C;
}

/* Form styling */
form {
    width: 225px;
    margin: 0 auto;
    text-align: center;
}

/* Styling for paragraph following h2 */
h2 + P {
    text-align: center;
}

/* Styling for the crack button */
.crack-button {
    display: block;
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px; 
    background: #39D2B4;
}

/* Styling for the crack button on hover */
.crack-button:hover {
    background: #34495E;
    color: #39D2B4;
}

/* Styling for the download button */
.download-button {
    display: block;
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-inline: 70px; 
    background: #39D2B4;
}

/* Styling for the download button on hover */
.download-button:hover {
    background: #34495E;
    color: #39D2B4;
}
