body {
    background-image: url('https://mona.solutions/template/images/galweb-banner.jpg');
    color: #7F8C9A;
}

.container {
    background-color: rgb(234, 234, 234);
    width: 350px;
    margin: 250px 250px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

h2 {
    flex: 0;
    margin-bottom: 20px;
}
.input-file-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.output-file-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.js .input-file-trigger {
    flex-grow: 1;
    display: block;
    padding: 14px 20px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border-radius: 4px;
}
.js .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 200px;
    opacity: 0;
    padding: 8px 0;
    cursor: pointer;
}
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
}
  
.file-return {
    margin: 0;
}
.file-return:not(:empty) {
    margin: 1em 0;
}
.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}
.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}

h1, h2 {
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    color:#aaa;
  }
h2 {
    margin: 5px 0 2em;
    color: #1ABC9C;
}
form {
    width: 225px;
    margin: 0 auto;
    text-align:center;
}
  h2 + P {
    text-align: center;
}

.crack-button {
    display: block;
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px; 
    background: #39D2B4;
}
.crack-button:hover {
    background: #34495E;
    color: #39D2B4;
}
.download-button {
    display: block;
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-inline: 70px; 
    background: #39D2B4;
}
.download-button:hover {
    background: #34495E;
    color: #39D2B4;
}